<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body style="font-family: 'B Nazanin'">
<h3 style="direction: rtl">
    <span>  سلام  </span>
    <span>${name}</span>
</h3>

<h3 style="direction: rtl">
    <span>تاریخ :</span>
    <span>${DateUtils.shamsiNow()}</span>
</h3>
<h3 style="direction: rtl">
    <span>
         سایت های زیر حاوی عناوین
    </span>
    <span>
        '$keywords'
    </span>
    <span>
       می باشند:
    </span>

</h3>
<div style="text-align: center;border-bottom: #5BC0DE solid 1px;padding-bottom: 10px;padding-top: 10px;font-weight: bold">
    <span style="width: 200px;display: inline-block;word-wrap: break-word">تاریخ</span>
    <span style="width: 200px;display: inline-block;word-wrap: break-word">خبرگزاری</span>
    <span style="width: 500px;display: inline-block;word-wrap: break-word">عنوان خبر</span>
</div>

    #foreach($content in $contents)
    <div style="text-align: center;border-bottom: #5BC0DE solid 1px;padding-bottom: 10px;padding-top: 10px;font-size: 15px;">
        <span style="width: 200px;display: inline-block;word-wrap: break-word">${DateUtils.date2Shamsi($content.getPubDate())}</span>
        <span style="width: 200px;display: inline-block;word-wrap: break-word">
            $content.getPublisher()
        </span>
        <span style="width: 500px;display: inline-block;word-wrap: break-word">
            <a href="$content.getLinks()">$content.getTitle()</a>
        </span>
    </div>
    #end

</body>

</html>